ANTHROPIC_API_KEY=your_key_here
DASHSCOPE_API_KEY=your_key_here
QWEN_BASE_URL=https://dashscope-intl.aliyuncs.com/compatible-mode/v1
QWEN_MODEL=qwen-plus
QWEN_IMAGE_MODEL=qwen-image-2.0-pro
QWEN_IMAGE_EDIT_MODEL=qwen-image-edit-max
FRIEND_ASSETS_DIR=../assets/friends
BUDDY_ASSETS_DIR=../assets/buddies
IMAGE_ASSETS_DIR=../assets/images
